<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style_2.css" />
    <meta
      name="Description"
      content="Solution of recruitment tasks for daftcode practices 2019. Task 2 - modal"
    />
    <title>Daftcode practices 2019 - Task 2</title>
  </head>

  <body>
    <main id="main">
      <button class="button">Open</button>
    </main>
    <aside class="modal" role="complementary">
      <div class="modal__shadow"></div>
      <div class="modal__popup">
        <button class="button">X</button>
        <a href="../3/3.html">Go to task 3</a>
      </div>
    </aside>
    <!-- Scripts -->
    <script src="../../js/modal.js"></script>
  </body>
</html>
