<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style_3.css" />
    <meta
      name="Description"
      content="Solution of recruitment tasks for daftcode practices 2019. Task 3 - list filter"
    />
    <title>Daftcode practices 2019</title>
  </head>

  <body>
    <form class="form">
      <input class="form__input" type="text" placeholder="type content" />
      <button class="form__search">Search</button>
    </form>

    <table>
      <tbody>
        <tr>
          <td>Walmart</td>
        </tr>
        <tr>
          <td>State Grid</td>
        </tr>
        <tr>
          <td>Sinopec Group</td>
        </tr>
        <tr>
          <td>China National Petroleum</td>
        </tr>
        <tr>
          <td>Royal Dutch Shell</td>
        </tr>
        <tr>
          <td>Toyota Motor</td>
        </tr>
        <tr>
          <td>Volkswagen</td>
        </tr>
        <tr>
          <td>BP</td>
        </tr>
        <tr>
          <td>Exxon Mobil</td>
        </tr>
        <tr>
          <td>Berkshire Hathaway</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
