<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style_3.css" />
        <meta name="Description" content="Solution of recruitment tasks for daftcode practices 2019. Task 3 - list filter">
        <title>Daftcode practices 2019</title>
    </head>
  </head>

  <body>

  </body>
</html>
