<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style_1.css" />
        <title>Daftcode practices 2019</title>
    </head>
  </head>
  <body>
      <header class="header" role="banner"></header>
        <div class="content-area">
          <aside class="sidebar" role="complementary"></aside>
          <main class="main-content" role="main"></main>
        </div>
      <footer  class="footer" role="contentinfo"></footer>
  </body>
</html>
